.navbar-style{
  background-color:rgb(235, 204, 166);
}
.logo-ing-style{
  height: 50px;
  width: 50px;
}
.logo-text-style{
  margin: -21px 0px 0px 50px;
}
*{
  font-family: 'Times New Roman', Times, serif;
}

main{
  min-height: 80vh;
}

footer{
  background-color:rgb(235, 204, 166);
  padding: 3px;
  margin-top: 0.5rem;
}

marquee{
  margin-top: 0.5rem;
  font-size: 1rem;
}

.p-style{
  text-align: justify;
}

tr,td{
  text-align: center;
}
